{"shapetype":"EMPTY_RECTANGLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"20","g":"20","b":"20"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0","y":"0.0","w":"0.5","h":"0.5","r":"120","g":"120","b":"120"}
{"shapetype":"SOLID_RECTANTLE","x":"0.5","y":"0.5","w":"0.5","h":"0.5","r":"120","g":"120","b":"120"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"180","g":"180","b":"180"}
