{"shapetype":"EMPTY_RECTANGLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"0","g":"0","b":"0"}
{"shapetype":"EMPTY_RECTANGLE","x":"0.175","y":"0.25","w":"0.65","h":"0.65","r":"200","g":"200","b":"200"}
{"shapetype":"SOLID_ELIPSE","x":"0.35","y":"0.1","w":"0.3","h":"0.1","r":"64","g":"64","b":"64"}
{"shapetype":"SOLID_RECTANTLE","x":"0.125","y":"0.075","w":"0.75","h":"0.875","r":"235","g":"235","b":"235"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"64","g":"64","b":"64"}
