CHOPPED:
{"shapetype":"SOLID_RECTANTLE","x":"0.5","y":"0.025","w":"0.01","h":"0.1","r":"0","g":"0","b":"0"}
{"shapetype":"SOLID_RECTANTLE","x":"0.475","y":"0.05","w":"0.05","h":"0.9","r":"0","g":"0","b":"0"}
{"shapetype":"SOLID_ELIPSE","x":"0.05","y":"0.05","w":"0.9","h":"0.9","r":"206","g":"0","b":"0"}

RAW:
{"shapetype":"SOLID_RECTANTLE","x":"0.5","y":"0.025","w":"0.01","h":"0.1","r":"0","g":"0","b":"0"}
{"shapetype":"SOLID_ELIPSE","x":"0.05","y":"0.05","w":"0.9","h":"0.9","r":"206","g":"0","b":"0"}
