CHOPPED:
{"shapetype":"LINE","x":"0.075","y":"0.5","w":"0.85","h":"0.0","c":"0.05","r":"0","g":"180","b":"0"}
{"shapetype":"SOLID_ELIPSE","x":"0.05","y":"0.05","w":"0.9","h":"0.9","c":"0.0","r":"0","g":"255","b":"0"}

RAW:
{"shapetype":"SOLID_ELIPSE","x":"0.05","y":"0.05","w":"0.9","h":"0.9","c":"0.0","r":"0","g":"255","b":"0"}