CHOPPED:
{"shapetype":"EMPTY_RECTANGLE","x":"0.45","y":"0.2","w":"0.1","h":"0.6","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_RECTANTLE","x":"0.45","y":"0.2","w":"0.1","h":"0.6","c":"0.0","r":"209","g":"190","b":"23"}
{"shapetype":"EMPTY_RECTANGLE","x":"0.55","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_RECTANTLE","x":"0.55","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"209","g":"190","b":"23"}
{"shapetype":"EMPTY_RECTANGLE","x":"0.35","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_RECTANTLE","x":"0.35","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"209","g":"190","b":"23"}

CHOPPED_COOKED:
{"shapetype":"EMPTY_RECTANGLE","x":"0.45","y":"0.2","w":"0.1","h":"0.6","c":"0.0","r":"132","g":"118","b":"16"}
{"shapetype":"SOLID_RECTANTLE","x":"0.45","y":"0.2","w":"0.1","h":"0.6","c":"0.0","r":"183","g":"165","b":"11"}
{"shapetype":"EMPTY_RECTANGLE","x":"0.55","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"132","g":"118","b":"16"}
{"shapetype":"SOLID_RECTANTLE","x":"0.55","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"183","g":"165","b":"11"}
{"shapetype":"EMPTY_RECTANGLE","x":"0.35","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"132","g":"118","b":"16"}
{"shapetype":"SOLID_RECTANTLE","x":"0.35","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"183","g":"165","b":"11"}

COOKED:
{"shapetype":"LINE","x":"0.31","y":"0.3","w":"0.2","h":"0.1","c":"0.01","r":"255","g":"208","b":"0"}
{"shapetype":"LINE","x":"0.35","y":"0.3","w":"0.25","h":"0.1","c":"0.01","r":"255","g":"172","b":"0"}
{"shapetype":"LINE","x":"0.42","y":"0.3","w":"0.22","h":"0.1","c":"0.01","r":"255","g":"183","b":"0"}
{"shapetype":"LINE","x":"0.5","y":"0.3","w":"0.18","h":"0.09","c":"0.01","r":"255","g":"193","b":"0"}
{"shapetype":"SOLID_ELIPSE","x":"0.25","y":"0.25","w":"0.5","h":"0.2","c":"0.0","r":"255","g":"255","b":"255"}
{"shapetype":"EMPTY_ECLIPSE","x":"0.1","y":"0.25","w":"0.8","h":"0.5","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_ELIPSE","x":"0.1","y":"0.25","w":"0.8","h":"0.5","c":"0.0","r":"209","g":"190","b":"23"}

RAW:
{"shapetype":"SOLID_TRIANGLE_H","x":"0.45","y":"0.45","w":"0.03","h":"0.05","c":"0.5","r":"255","g":"255","b":"255"}
{"shapetype":"SOLID_TRIANGLE_H","x":"0.45","y":"0.45","w":"-0.03","h":"0.05","c":"0.5","r":"255","g":"255","b":"255"}
{"shapetype":"SOLID_ELIPSE","x":"0.352","y":"0.419","w":"0.15","h":"0.1","c":"0.0","r":"180","g":"160","b":"20"}
{"shapetype":"EMPTY_ECLIPSE","x":"0.1","y":"0.25","w":"0.8","h":"0.5","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_ELIPSE","x":"0.1","y":"0.25","w":"0.8","h":"0.5","c":"0.0","r":"209","g":"190","b":"23"}
