
RAW:
{"shapetype":"SOLID_RECTANTLE","x":"0.25","y":"0.2","w":"0.05","h":"0.6","c":"1.0","r":"0","g":"176","b":"192"}
{"shapetype":"SOLID_RECTANTLE","x":"0.7","y":"0.2","w":"0.05","h":"0.6","c":"1.0","r":"0","g":"176","b":"192"}
{"shapetype":"SOLID_RECTANTLE","x":"0.475","y":"0.2","w":"0.05","h":"0.6","c":"1.0","r":"0","g":"176","b":"192"}
{"shapetype":"SOLID_RECTANTLE","x":"0.12","y":"0.12","w":"0.76","h":"0.76","c":"0.3","r":"0","g":"188","b":"205"}
{"shapetype":"SOLID_RECTANTLE","x":"0.1","y":"0.1","w":"0.8","h":"0.8","c":"0.3","r":"0","g":"176","b":"192"}

COOKED:

CHOPPED:

CHOPPED_COOKED:

