
RAW:
{"shapetype":"SOLID_ELIPSE","x":"0.15","y":"0.15","w":"0.7","h":"0.7","c":"0.0","r":"240","g":"240","b":"240"}
{"shapetype":"SOLID_ELIPSE","x":"0.05","y":"0.05","w":"0.9","h":"0.9","c":"0.0","r":"232","g":"232","b":"232"}

COOKED:
{"shapetype":"SOLID_ELIPSE","x":"0.25","y":"0.323","w":"0.3","h":"0.21","c":"0.0","r":"255","g":"0","b":"0"}
{"shapetype":"SOLID_ELIPSE","x":"0.6","y":"0.25","w":"0.2","h":"0.5","c":"0.0","r":"255","g":"225","b":"196"}
{"shapetype":"SOLID_ELIPSE","x":"0.15","y":"0.15","w":"0.7","h":"0.7","c":"0.0","r":"240","g":"240","b":"240"}
{"shapetype":"SOLID_ELIPSE","x":"0.05","y":"0.05","w":"0.9","h":"0.9","c":"0.0","r":"232","g":"232","b":"232"}

CHOPPED:

CHOPPED_COOKED:

