{"shapetype":"EMPTY_RECTANGLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"0","g":"0","b":"0"}
{"shapetype":"SOLID_RECTANTLE","x":"0.1","y":"0.1","w":"0.8","h":"0.1","r":"112","g":"112","b":"112"}
{"shapetype":"SOLID_RECTANTLE","x":"0.1","y":"0.3","w":"0.8","h":"0.1","r":"112","g":"112","b":"112"}
{"shapetype":"SOLID_RECTANTLE","x":"0.1","y":"0.5","w":"0.8","h":"0.1","r":"112","g":"112","b":"112"}
{"shapetype":"SOLID_RECTANTLE","x":"0.1","y":"0.7","w":"0.8","h":"0.1","r":"112","g":"112","b":"112"}
{"shapetype":"SOLID_RECTANTLE","x":"0.1","y":"0.9","w":"0.8","h":"0.1","r":"112","g":"112","b":"112"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"64","g":"64","b":"64"}
