{"shapetype":"EMPTY_RECTANGLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","c":"0.0","r":"0","g":"0","b":"0"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","c":"0.0","r":"64","g":"64","b":"64"}
