
RAW:
{"shapetype":"EMPTY_RECTANGLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","c":"0.0","r":"0","g":"0","b":"0"}
{"shapetype":"LINE","x":"0.055","y":"0.1","w":"0.79","h":"0.0","c":"0.01","r":"192","g":"192","b":"192"}
{"shapetype":"LINE","x":"0.055","y":"0.9","w":"0.79","h":"0.0","c":"0.01","r":"192","g":"192","b":"192"}
{"shapetype":"LINE","x":"0.055","y":"0.11","w":"0.0","h":"0.78","c":"0.01","r":"176","g":"176","b":"176"}
{"shapetype":"LINE","x":"0.35","y":"0.11","w":"0.0","h":"0.78","c":"0.01","r":"176","g":"176","b":"176"}
{"shapetype":"SOLID_RECTANTLE","x":"0.15","y":"0.15","w":"0.7","h":"0.7","c":"0.0","r":"192","g":"192","b":"192"}
{"shapetype":"LINE","x":"0.8","y":"0.11","w":"0.0","h":"0.78","c":"0.01","r":"176","g":"176","b":"176"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","c":"0.0","r":"64","g":"64","b":"64"}

COOKED:

CHOPPED:

CHOPPED_COOKED:

