{"shapetype":"EMPTY_RECTANGLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"0","g":"0","b":"0"}
{"shapetype":"SOLID_RECTANTLE","x":"0.125","y":"0.0","w":"0.75","h":"0.875","r":"192","g":"192","b":"192"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0875","y":"0.0","w":"0.825","h":"0.9125","r":"255","g":"255","b":"255"}
{"shapetype":"SOLID_RECTANTLE","x":"0.0","y":"0.0","w":"1.0","h":"1.0","r":"64","g":"64","b":"64"}
