{"shapetype":"EMPTY_RECTANGLE","x":"0.45","y":"0.2","w":"0.1","h":"0.6","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_RECTANTLE","x":"0.45","y":"0.2","w":"0.1","h":"0.6","c":"0.0","r":"209","g":"190","b":"23"}
{"shapetype":"EMPTY_RECTANGLE","x":"0.55","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_RECTANTLE","x":"0.55","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"209","g":"190","b":"23"}
{"shapetype":"EMPTY_RECTANGLE","x":"0.35","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_RECTANTLE","x":"0.35","y":"0.3","w":"0.1","h":"0.6","c":"0.0","r":"209","g":"190","b":"23"}
