{"shapetype":"SOLID_TRIANGLE_H","x":"0.45","y":"0.45","w":"0.03","h":"0.05","c":"0.5","r":"255","g":"255","b":"255"}
{"shapetype":"SOLID_TRIANGLE_H","x":"0.45","y":"0.45","w":"-0.03","h":"0.05","c":"0.5","r":"255","g":"255","b":"255"}
{"shapetype":"SOLID_ELIPSE","x":"0.352","y":"0.419","w":"0.15","h":"0.1","c":"0.0","r":"180","g":"160","b":"20"}
{"shapetype":"EMPTY_ECLIPSE","x":"0.1","y":"0.25","w":"0.8","h":"0.5","c":"0.0","r":"189","g":"170","b":"23"}
{"shapetype":"SOLID_ELIPSE","x":"0.1","y":"0.25","w":"0.8","h":"0.5","c":"0.0","r":"209","g":"190","b":"23"}
